.bg-image {
  filter: brightness(50%);
}

.orador-card {
  /* min-width: 24rem; */
  width: 75vw;
}

.bs-as-info-container {
  /* height: 100vh; */
  height: auto;
}

/* DESKTOP */
@media (min-width: 767px) {
  .orador-card {
    width: 24rem;
  }

  .bs-as-info-container {
    height: 60vh;
  }
}
